<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="../css/linkl.css"/>
</head>
<body>
<div>
    <a class="link" href="/../static/index.html">Home</a>
    <a class="link" href="/car/all">Cars</a>
    <a class="link" href="/managers/all">Managers</a>
</div>
<form action="createmanager" method="post">
    <input type="text" name="firstname"  />
    <input type="text" name="lastname" />
    <input type="text" name="passportid" />
    <input type="number" name="expiriance" />
    <input type="number" name="sales" />
    <input class="btn btn-info" type="submit" name="Зберегти">
</form>
</body>
</html>