<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="../css/linkl.css"/>
</head>
<body>
<div>
    <a class="link" href="Index.html">Home</a>
    <a class="link" href="/car/all">Cars</a>
    <a class="link" href="/managers/all">Managers</a>
</div>
<form action="createcar" method="post">
    <input type="text" name="brend"  />
    <input type="text" name="model" />
    <input type="text" name="fuel" />
    <input type="number" name="quantity" />
    <input class="btn btn-info" type="submit" th:value="ДОдати">
</form>
</body>
</html>