<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/linkl.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div>
    <a class="link" href="Index.html">Home</a>
    <a class="link" href="/car/all">Cars</a>
    <a class="link" href="/managers/all">Managers</a>
</div>
<form th:action="@{/cars/createcar}" th:object="${Car}" method="post">
    <input type="text" th:field="*{brend}" />
    <input type="text" th:field="*{model}" />
    <input type="text" th:field="*{fuel}" />
    <input type="number" th:field="*{quantity}" />
    <input class="btn btn-info" type="submit" th:value="ДОдати">
</form>
</body>
</html>